Szpital/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SaveEmployeeToFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployeeToFile" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveEmployeeToFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployeeToFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEmployeeFromFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeFromFile" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEmployeeFromFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeFromFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateEmployeeInFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeInFile" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateEmployeeInFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeInFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Backup_InputMessage">
    <wsdl:part name="parameters" element="tns:Backup" />
  </wsdl:message>
  <wsdl:message name="IService1_Backup_OutputMessage">
    <wsdl:part name="parameters" element="tns:BackupResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SaveEmployeeToFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveEmployeeToFile" message="tns:IService1_SaveEmployeeToFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveEmployeeToFileResponse" message="tns:IService1_SaveEmployeeToFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeFromFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteEmployeeFromFile" message="tns:IService1_DeleteEmployeeFromFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteEmployeeFromFileResponse" message="tns:IService1_DeleteEmployeeFromFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeInFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateEmployeeInFile" message="tns:IService1_UpdateEmployeeInFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateEmployeeInFileResponse" message="tns:IService1_UpdateEmployeeInFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Backup">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Backup" message="tns:IService1_Backup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BackupResponse" message="tns:IService1_Backup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveEmployeeToFile">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveEmployeeToFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeFromFile">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteEmployeeFromFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeInFile">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateEmployeeInFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Backup">
      <soap:operation soapAction="http://tempuri.org/IService1/Backup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceSzpital/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>